.header{
    font-size: 90px;   
    color: rgb(0, 0, 0); 
    background-color: #03e9f4;
    width: 100%;
    height:90px;
    margin-top: 20px;
    margin-bottom: 100px;
    /* margin-right: 100px; */
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 2px 2px 5px rgb(4, 220, 248);    
    filter: drop-shadow(0px 0px 10px rgba(47, 41, 41, 0.751));
}
.header{
    -webkit-box-reflect: below
    1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #03e9f4,0 0 15px #03e9f4,0 0 25px #03e9f4, 0 0 100px #03e9f4;
}
.cards{
    /* background-color: bisque; */
    height: 350px;
    width: 200px;
    border: 2px;
    /* border-style: inset; */
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 10px rgba(47, 41, 41, 0.751));
}
.cards:hover{
    background-color: rgb(168, 221, 252);
}
.img1{
    width: 95%;
    height: 50%;
    border-radius: 10px;
  margin-top: 5px;
}
.fa-star {
    color: rgb(255, 170, 0);
}
.fa-star-half-stroke{
    color:rgb(255, 170, 0) ;
}
.buynow:hover{
    /* background-color: lightblue; */
    box-shadow: 2px 1px 5px; color: black ;   
}
.buynow{
    font-family: 'Archivo Black';
    background-color: rgb(25, 131, 211);
    color: white;
    width: 100px;
    height: 30px;
}
.fa-instagram{
    font-size: 50px;    
}
.fa-github{
    font-size: 50px;
}
.instagram{
    font-size: 30px;
    text-decoration: none;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:crimson;
}
.github{
    font-size: 30px;
    text-decoration: none;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:crimson;
}